Repository 2531800823/liu-cli: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm lint:script-lib, pnpm lint:script-bin

.lintstagedrc:

{
  "lib/**/*": "pnpm lint:script-lib",
  "bin/**/*": "pnpm lint:script-bin"
}

feat: 添加基本的逻辑
  .vscode/settings.json
  bin/index.js
  package.json
  pnpm-lock.yaml
Due: pnpm lint:script-bin

feat: 完成 clear 命令
  bin/index.js
  lib/clear.js
  lib/index.js
  lib/utils.js
  package.json
  pnpm-lock.yaml
Due: pnpm lint:script-lib, pnpm lint:script-bin

chore(release): 1.1.2
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

feat: 完成创建模板的基本流程
  .eslintrc.js
  .vscode/settings.json
  bin/index.js
  lib/clear.js
  lib/const.js
  lib/create.js
  lib/index.js
  lib/utils.js
  package.json
  pnpm-lock.yaml
Due: pnpm lint:script-lib, pnpm lint:script-bin

feat: 添加删除判断和强制删除
  bin/index.js
  lib/clear.js
Due: pnpm lint:script-lib, pnpm lint:script-bin

chore(release): 1.1.3
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

feat: 添加下载github全都为main分支
  lib/create.js
Due: pnpm lint:script-lib

feat: 添加umi微前端方案模板
  lib/create.js
Due: pnpm lint:script-lib
